{% extends "base.html" %}

{# keep the default content behavior #}
{% block content %}
    {{ super() }}
{% endblock %}

{# extend the footer block to add your links #}
{% block footer %}
    {{ super() }}
    <div class="sunder-footer-extra md-footer-meta md-typeset">
      <div class="md-footer-meta__inner md-grid">
        <div class="sunder-footer-links">
          <span class="sunder-footer-label">Sunder site</span>
          <a href="{{ base_url }}/meta/about-sunder/">About</a>
          <span>.</span>
          <a href="{{ base_url }}/meta/report-issue/">Report an issue</a>
          <span>.</span>
          <a href="{{ base_url }}/meta/bookmarks/">Bookmarks</a>
        </div>
      </div>
    </div>
{% endblock %}

{# override the scripts block to add a global version variable #}
{% block scripts %}
    {{ super() }}
    <script>
        window.SUNDER_BASE_URL = "{{ base_url }}";
    </script>
    {% if config.extra.sunder_version %}
        <script>
            window.SUNDER_VERSION = "{{ config.extra.sunder_version }}";
        </script>
    {% endif %}
{% endblock %}