# This is a basic workflow to help you get started with Actions

name: Deploy MkDocs

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: write

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "deploy"
  deploy:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'

#      - name: Compute Sunder version from tags
#        run: |
#          # Find the latest semver-like tag (e.g., v0.1.0)
#          TAG=$(git describe --tags --match "v[0-9]*.[0-9]*.[0-9]*" --abbrev=0)
#          echo "Base tag: ${TAG}"
#
#          # Strip leading 'v'
#          BASE=${TAG#v}
#
#          # Commit count since that tag = patch version
#          PATCH=$(git rev-list "${TAG}..HEAD" --count)
#
#          # Compose MAJOR.MINOR from tag, PATCH from commit count
#          MAJOR=$(echo "$BASE" | cut -d. -f1)
#          MINOR=$(echo "$BASE" | cut -d. -f2)
#          VERSION="${MAJOR}.${MINOR}.${PATCH}"
#
#          echo "Computed Sunder version: ${VERSION}"
#
#          sed -i "s/^\(\s*sunder_version:\s*\).*/\1\"${VERSION}\"/" mkdocs.yml
#          grep "sunder_version:" mkdocs.yml
#          # TODO: add display to override of header

      # Runs a single command using the runners shell
      - name: Install MkDocs and plugins
        run: |
          pip install --upgrade pip
          pip install \
            mkdocs \
            mkdocs-material \
            pymdown-extensions \
            mkdocs-obsidian-support-plugin \
            mkdocs-roamlinks-plugin

      - name: Build site
        run: mkdocs build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site
